{% load i18n %}
{% load wooey_tags %}
{% get_wooey_setting "WOOEY_SHOW_LOCKED_SCRIPTS" as wooey_show_locked_scripts %}
{% if script.is_active or wooey_show_locked_scripts %}
<div class="col-sm-6 col-md-4">

    {% with group_show=script.script_group|valid_user:request.user %}
        {% if group_show != 'hide' %}

        <div class="panel {% if script.id in favorite_script_ids %}panel-warning is-favorite{% else %}panel-default{% endif %} thumbnail wooey_script_thumbnail {% if not script.is_active or group_show == 'disabled' %}wooey_script_disabled {% endif %}"  id="favorite-{{ script|app_model_id }}" style="height: 135px;">
            <div class="panel-heading">

                {% if script.is_active and group_show == True %}
                    <a href="{% url 'wooey:wooey_script' slug=script.slug %}">{{ script.script_name }}</a>
                {% else %}
                    {{ script.script_name }} 
                    <a class="icon icon-locked" href="#" title="This script is unavailable."></a>
                {% endif %}

            </div>
        <div class="panel-body">{{ script.script_description }}</div>
        

        </div>
        {% endif %}
    {% endwith %}
</div>
{% endif %}
